.content {
    width: 60em;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.host-team {
    text-align: right;
}

.guest-team {
    text-align: left;
}

.match { 
    width: 49%;
}

.match-delimiter {
    width: 1em;
}

.tour {
    margin-bottom: 1em;
    margin-top: 1em;
    padding-top: 1em;
}

.match-selected td{
    background: #333 !important;
    color: #0a0 !important;
}
